.font-header {
  color: #454545;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
}

.font-work-item {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 17px */
  letter-spacing: -0.51px;
}

.font-work-item-year {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
  letter-spacing: -0.54px;
}

.font-contact-label {
  color: #000;
  font-size: 33.396px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.002px;
}

.font-contact-contents {
  color: #000;
  font-size: 33.396px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.002px;
}

.font-about-title {
  color: #000;

  font-size: 27.468px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.824px;
}

.font-about-desc-en {
  color: #454545;

  font-size: 16.45px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.207px; /* 135% */
  letter-spacing: -0.493px;
}

.font-about-desc-ko {
  color: #454545;
  font-size: 14.805px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.207px; /* 150% */
  letter-spacing: -0.444px;
}

.font-skill-title {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.font-skill-sub {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 112.5% */
  letter-spacing: -0.72px;
}

.font-skill-desc {
  color: #383838;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; /* 161.111% */
  letter-spacing: -0.54px;
}
